secrets.yaml
known_devices.yaml
.homekit.state
*.conf
*.db
*.log
*.sqlite
*.txt
*.xml
.ip_authenticated.yaml
ip_bans.yaml
.HA_VERSION
known_devices.yaml
secrets.yaml
deps
scripts
*.pid
.homekit.state
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.pickle
.cloud
home-assistant.log*
.storage
.uuid
core.*
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
__pycache__
tts
secrets
known_devices.yaml
#folders
appdaemon
icloud
www\deepstack_person_images